<h1>Uh Oh,</h1>
<h2>Looks like you weren't in a game when you came here</h2>
<h3>Click <a href="/">Here</a> to go back to safety</h3>
<h4>Or click <a href="/loool">here</a> to get free $monies$</h4>
<h5>Well, I'll be going now</h5>
<h6>See you later.</h6>